/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: var(--bg-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: var(--text-color);
  padding: var(--page-padding-s);
}

.header,
.footer {
  inline-size: 100%;
  block-size: calc(100vh - var(--block-size-error));
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 178px 220px 225px;
  margin-block-end: var(--margin-block-end-s);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  justify-self: end;
  inline-size: var(--decorated-zone-size);
  block-size: var(--decorated-zone-size);
  border-top: 1px solid var(--decorated-zone-color);
  border-right: 1px solid var(--decorated-zone-color);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  align-self: end;
  inline-size: var(--decorated-zone-size);
  block-size: var(--decorated-zone-size);
  border-left: 1px solid var(--decorated-zone-color);
  border-bottom: 1px solid var(--decorated-zone-color);
}

.header__rec {
  visibility: hidden;
  justify-self: end;
  padding-inline-end: 28px;
  text-transform: uppercase;
  color: var(--accent-color);
}

.header__rec::after {
  content: "rec";
}

.header__rec::before {
  content: "";
  position: absolute;
  inline-size: 9px;
  block-size: 9px;
  inset-block-start: 8px;
  inset-inline-end: 9px;
  border-radius: 50%;
  box-shadow: 0 0 5px 2px var(--accent-color);
  background-color: var(--accent-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
  color: var(--header-menu-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);
}

.header__theme-menu-button {
  text-transform: lowercase;
  inline-size: 70px;
  block-size: 26px;
}

.header__theme-menu-button:focus-visible {
  outline: transparent;
  box-shadow: 0 1px 0 currentColor;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--header-button-outline-opacity);
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid currentColor;
}

.header__title,
.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

.header__title-container {
  align-self: end;
}

.header__title {
  text-transform: lowercase;
  color: var(--header-title-color);
  line-height: 0.82;
  text-shadow: 4px 4px 0 var(--header-footer-accent-color);
}

.header__text-container {
  align-self: center;
  background-color: var(--accent-color);
  color: var(--header-text-color);
  font-weight: bold;
}

.header__text__first-lettered p:not(:first-of-type)::first-letter {
  text-transform: uppercase;
}

.main__content {
  display: grid;
  grid-template-columns: 1fr;
  padding: var(--main-content-padding-m) 0px var(--main-content-padding-l);
  gap: var(--gap-l);
}

.section__title,
.section__subtitle,
.list-item-title {
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
}

.normal-text-weight {
  font-weight: normal;
}

.section__title {
  color: var(--section-title-color);
}

.title__decor {
  color: var(--title-decor-text-color);
  background-color: var(--accent-color);
}

.section {
  display: flex;
  flex-direction: column;
  gap: var(--gap-m);
}

ul > li > .section__content > .list-item-title {
  margin-block-end: var(--margin-block-end-s);
}

.section__text {
  line-height: 23.4px;
}

.text__link {
  text-shadow: 2px 2px 0px var(--accent-color);
}

.text__link:hover {
  box-shadow: 0px 1px 0px currentColor;
}

.text__link:focus-visible {
  outline: 1px solid currentColor;
}

.section__contentration-recommendations-content-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-m);
}

.concentration-list,
.concentration-reduced-list,
.recommendations__list {
  display: flex;
  flex-direction: column;
  gap: var(--gap-m);
}

.section__cards > .section__title {
  margin-block-end: var(--margin-block-end-s);
}

.images__container {
  display: grid;
  justify-items: stretch;
  grid-template-columns: 1fr;
  gap: var(--gap-s);
}

.section__image {
  display: block;
  max-inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.footer {
  display: grid;
  grid-template-columns: 1fr;
}

.footer__container {
  align-self: center;
  justify-self: center;
}

.footer__title {
  color: var(--header-title-color);
  line-height: 0.82;
  text-shadow: 2px 2px 0 var(--header-footer-accent-color);
  text-transform: lowercase;
}

@media (width >=376px) {
  .header__text-container {
    inline-size: 355px;
  }
}

@media (width >= 500px) {
  .page {
    padding: 0;
  }

  .header {
    padding-block-start: var(--header-padding);
    padding-inline-end: var(--header-padding);
  }

  .header.decorated-zone::after {
    inset-block-start: var(--decorated-zone-inset);
    inset-inline-end: var(--decorated-zone-inset);
  }

  .header.decorated-zone::before {
    inset-inline-start: var(--decorated-zone-inset);
    inset-block-end: var(--decorated-zone-inset);
  }

  .header__rec::before {
    inset-block-start: 27px;
    inset-inline-end: 28px;
  }

  .header__text-container {
    justify-self: end;
  }

  .main__content {
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
  }

  .concentration-reduced-list {
    display: flex;
    flex-direction: column;
    gap: var(--gap-m);
  }

  .images__container {
    grid-template-columns: repeat(3, minmax(140px, 1fr));
    grid-template-rows: repeat(auto-fit, 215px);
    gap: var(--gap-m);
  }

  .section__image:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .section__image:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .section__image:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .section__image:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .section__image:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .footer {
    padding: var(--footer-padding);
  }
}

@media (width >= 768px) {
  .header,
  .footer {
    min-block-size: var(--tablet-block-size);
  }

  .header {
    grid-template-rows: min-content 245px 435px 270px;
    margin-block-end: 0px;
  }

  .header__title,
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__theme-menu {
    align-self: end;
  }

  .header__title-container {
    align-self: center;
    padding-block-start: 20px;
  }

  .header__text-container {
    align-self: start;
    inline-size: 364px;
  }

  .main__content {
    gap: var(--gap-xxl);
  }

  .section__concentration-reduced > .section__title {
    display: grid;
    grid-template-columns: 236px;
  }

  .section__concentration,
  .section__contentration-recommendations {
    display: grid;
    grid-template-columns: 1fr 472px;
    grid-column: 1 / 3;
  }

  .concentration-list {
    gap: var(--gap-m);
  }

  .section__cards > .section__title {
    margin-block-end: var(--margin-block-end-m);
  }

  .images__container {
    grid-template-columns: repeat(3, minmax(230px, 1fr));
    grid-template-rows: repeat(auto-fit, 190px);
  }
}

@media (width >= 1024px) {
  .header,
  .footer {
    min-block-size: var(--desktop-block-size);
  }

  .header {
    grid-template-columns: 1fr 250px 1fr;
    grid-template-rows: min-content 273px min-content 300px;
  }

  .header__theme-menu {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__rec {
    grid-column: 3 / 4;
    grid-row: -4 / -5;
  }

  .header__title-container {
    padding: 0px;
    grid-column: 1 / 4;
    grid-row: 3 / 4;
  }

  .header__text-container {
    align-self: center;
    inline-size: 491px;
    grid-column: 2 / 4;
    grid-row: 4 / 5;
  }

  .main__content {
    gap: var(--gap-xxl);
  }

  .section__concentration,
  .section__contentration-recommendations {
    display: grid;
    grid-template-columns: 315px 1fr;
  }

  .concentration-list {
    display: flex;
    flex-direction: column;
  }

  .section__concentration-reduced {
    grid-template-columns: repeat(3, 315px);
    grid-template-rows: min-content 1fr;
  }

  .section__concentration-reduced > .section__title {
    display: grid;
    grid-template-columns: 315px;
  }

  .concentration-reduced-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(315px, 1fr));
    gap: var(--gap-m);
  }

  .images__container {
    grid-template-columns: repeat(3, minmax(230px, 1fr));
    grid-template-rows: repeat(auto-fit, 260px);
  }

  ul > li > .section__content > .list-item-title {
    margin-block-end: var(--margin-block-end-s);
  }
}
